<template>
  <div style="padding: 30px">
    <WeightMatrixTable :treeData="treeData" :headerData="headerData" :data="data"></WeightMatrixTable>
  </div>
</template>
<script>
import { <%= horizontal.tableCode%>Service, <%= vertical.tableCode%>Service, <%= rel.tableCode%>Service } from '@/services'
import { QueryConditionBuilder } from '@/utils/queryConditionBuilder'
<%_ if(horizontal.fieldList.parentCode || vertical.fieldList.parentCode){ -%>
import { listToTree } from '@/utils/treeTool'
<%_ } -%>
import WeightMatrixTable from '@/components/matrixTable/WeightMatrixTable.vue'
export default {
  name: '<%= pageName%>',
  components: {
    WeightMatrixTable,
  },
  data() {
    return {
      treeData: [],
      headerData: [],
      data: [],
    }
  },
  mounted() {
    this.initData()
  },
  methods: {
    getQueryCondition(){
      const queryCondition = QueryConditionBuilder.getInstanceNoPage()
      queryCondition.buildEqualQuery('bindProject','')
      return queryCondition
    },
    async getHeaderData(){
      const { data } = await <%= horizontal.tableCode%>Service.query<%= horizontal.tableCode%>ByCondition(this.getQueryCondition())
      const list = data.map(item=>{
        return {
          ...item,
          id:item.<%= horizontal.fieldList.uniqueCode%>,
          name:item.<%= horizontal.fieldList.displayName%>
        }
      })
      <%_ if(horizontal.fieldList.parentCode){ -%>
      this.headerData = listToTree(list, { pidKey: '<%= horizontal.fieldList.parentCode%>' })
      <%_} else {-%>
      this.headerData = list
      <%_ } -%>
    },
    async getTreeData(){
      const { data } = await <%= vertical.tableCode%>Service.query<%= vertical.tableCode%>ByCondition(this.getQueryCondition())
      const list = data.map(item=>{
        return {
          ...item,
          id:item.<%= vertical.fieldList.uniqueCode%>,
          name:item.<%= vertical.fieldList.displayName%>
        }
      })
      <%_ if(vertical.fieldList.parentCode){ -%>
      this.treeData = listToTree(list, { pidKey: '<%= vertical.fieldList.parentCode%>' })
      <%_} else {-%>
      this.treeData = list
      <%_ } -%>
    },
    async getData(){
      const { data } = await <%= rel.tableCode%>Service.query<%= rel.tableCode%>ByCondition(this.getQueryCondition())
      this.data = data.map(item=>{
        return {
          ...item,
          from:item.<%= horizontal.fieldList.uniqueCode%>,
          to:item.<%= vertical.fieldList.uniqueCode%>,
          <%_ if(rel.fieldList.relCode){ -%>
          value:item.<%= rel.fieldList.relCode%>
          <%_ } -%>
        }
      })
    },
    initData() {
      Promise.all([this.getHeaderData(),this.getTreeData(),this.getData()])
    },
  },
}
</script>
