<%# 表单项 -%>
<% list.forEach(function(field){ -%>
    <%_ if (field.displayType == 'image') { -%>
    <el-table-column prop="<%= field.prop %>" align="center" label="<%= field.label %>">
      <template slot-scope="{ row }">
        <img style="padding: 3px 0; max-width: 100%; max-height: 90px" :src="row.<%= field.prop %>" />
      </template>
    </el-table-column>
    <%_ }else if (field.displayType == 'enum') { -%>
    <el-table-column prop="<%= field.prop %>" align="center" label="<%= field.label %>">
      <template slot-scope="{ row }">
        <span>{{ <%= field.prop %>EnumData(row,'<%= field.prop %>') }}</span>
      </template>
    </el-table-column>
    <%_ }else if (field.displayType == 'switch') { -%>
    <el-table-column prop="<%= field.prop %>" align="center" label="<%= field.label %>">
      <template slot-scope="{ row }">
        <i :class="[row.<%=field.prop%>=='1'?'el-icon-check':'el-icon-close']"></i>
      </template>
    </el-table-column>
    <%_ } else{ -%>
    <el-table-column prop="<%= field.prop %>" align="center" label="<%= field.label %>"></el-table-column>
    <%_ } -%>
<%_ }); -%>