<template>
  <div style="padding: 30px">
    <RelationMatrixTable :relationList="relationList" :treeData="treeData" :headerData="headerData" :data="data" @cellClick="onChange"></RelationMatrixTable>
  </div>
</template>
<script>
import { <%= horizontal.tableCode%>Service, <%= vertical.tableCode%>Service, <%= rel.tableCode%>Service } from '@/services'
import { QueryConditionBuilder } from '@/utils/queryConditionBuilder'
import { listToTree } from '@/utils/treeTool'
import RelationMatrixTable from '@/components/matrixTable/RelationMatrixTable.vue'
import { uuid } from '@/utils/commonUtil'

export default {
  name: '<%= pageName%>',
  components: {
    RelationMatrixTable,
  },
  data() {
    return {
      treeData: [],
      headerData: [],
      data: [],
      relationList: [
        {
          id: 'guanxi1',
          name: '关系1',
          icon: 'el-icon-sunny',
        },
        {
          id: 'guanxi2',
          name: '关系2',
          icon: 'el-icon-sunset',
        }
      ],
    }
  },
  mounted() {
    this.initData()
  },
  methods: {
    getQueryCondition(){
      const queryCondition = QueryConditionBuilder.getInstanceNoPage()
      return queryCondition
    },
    async getHeaderData(){
      const { data } = await <%= horizontal.tableCode%>Service.query<%= horizontal.tableCode%>ByCondition(this.getQueryCondition())
      const list = data.map(item=>{
        return {
          ...item,
          id:item.<%= horizontal.fieldList.uniqueCode%>,
          name:item.<%= horizontal.fieldList.displayName%>
        }
      })
      <%_ if(horizontal.fieldList.parentCode){ -%>
      this.headerData = listToTree(list, { pidKey: '<%= horizontal.fieldList.parentCode%>' })
      <%_} else {-%>
      this.headerData = list
      <%_ } -%>
    },
    async getTreeData(){
      const { data } = await <%= vertical.tableCode%>Service.query<%= vertical.tableCode%>ByCondition(this.getQueryCondition())
      const list = data.map(item=>{
        return {
          ...item,
          id:item.<%= vertical.fieldList.uniqueCode%>,
          name:item.<%= vertical.fieldList.displayName%>
        }
      })
      <%_ if(vertical.fieldList.parentCode){ -%>
      this.treeData = listToTree(list, { pidKey: '<%= vertical.fieldList.parentCode%>' })
      <%_} else {-%>
      this.treeData = list
      <%_ } -%>
    },
    async getData(){
      const { data } = await <%= rel.tableCode%>Service.query<%= rel.tableCode%>ByCondition(this.getQueryCondition())
      this.data = data.map(item=>{
        return {
          ...item,
          from:item.<%= rel.fieldList.relVerticalCode%>,
          to:item.<%= rel.fieldList.relHorizontalCode%>,
          <%_ if(rel.fieldList.relCode){ -%>
          value:item.<%= rel.fieldList.relCode%>
          <%_ } -%>
        }
      })
    },
    initData() {
      Promise.all([this.getHeaderData(),this.getTreeData(),this.getData()])
    },
    async onChange({ data, from, to, value }){
      let obj = {
        <%= rel.fieldList.relVerticalCode%>: from,
        <%= rel.fieldList.relHorizontalCode%>: to,
        <%= rel.fieldList.relCode%>: value,
        <%= rel.fieldList.uniqueCode%>: data? data : uuid(),
      }
      if (!value) {
        await this.onDeleteRelAPI(obj.<%= rel.fieldList.uniqueCode%>)
      } else{
        await this.onSaveRelAPI(obj)
      }
      this.getData()
    },
    async onSaveRelAPI(id) {
      await <%= rel.tableCode%>Service.save<%= rel.tableCode%>(id)
    },
    async onDeleteRelAPI(id) {
      await <%= rel.tableCode%>Service.delete<%= rel.tableCode%>(id)
    },
  },
}
</script>
