<template>
  <el-form <%if (hasQuery) { -%>:model="queryForm"<%_ } -%> size="small" :inline="true" class="query-form-container">
    <%_ if (hasToolbar) { -%><%- include("../common/form.ejs",{list:queryList,formData:'queryForm'}) -%>
    <el-form-item label="">
      <div class="btn-container">
        <%_if (hasQuery) { -%>
        <el-button type="primary" icon="el-icon-search" @click="onQuery">查询</el-button>
        <el-button icon="el-icon-refresh" @click="onReset">重置</el-button>
        <%_ } -%>
        <%_if (hasAdd) { -%>
        <el-button type="success" icon="el-icon-plus" @click="<%=addInfo.code%>"><%=addInfo.name%></el-button>
        <%_ } -%>
        <%_if (hasDeleteBatch) { -%>
        <el-button type="danger" icon="el-icon-delete" @click="<%=deleteBatchInfo.code%>"><%=deleteBatchInfo.name%></el-button>
        <%_ } -%>
        <%_if (hasExportTemplate) { -%>
        <el-button type="primary" icon="el-icon-download" @click="<%=exportTemplateInfo.code%>"><%=exportTemplateInfo.name%></el-button>
        <%_ } -%>
        <%_if (hasImport) { -%>
        <el-upload class="upload-btn" action="#" accept=".xls,.xlsx" :limit="1" :before-upload="<%=importInfo.code%>" :show-file-list="false">
          <el-button type="primary" icon="el-icon-upload2"><%=importInfo.name%></el-button>
        </el-upload>
        <%_ } -%>
        <%_if (hasExport) { -%>
        <el-button type="primary" icon="el-icon-download" @click="<%=exportInfo.code%>"><%=exportInfo.name%></el-button>
        <%_ } -%>
        <%_ toolbarBtnList.forEach(function(btn){ -%>
        <%- include("../common/btn.ejs",{...btn}) %>
        <%_ }); -%>
      </div>
    </el-form-item>
    <%_ } -%>
  </el-form>
</template>