<template>
  <div class="common-page">
    <MergeTable border :columns="tableCols" :data="tableData" />
  </div>
</template>

<script>
import { <%= tableCode%>Service } from '@/services'
import { QueryConditionBuilder } from '@/utils/queryConditionBuilder'
import MergeTable from '@/components/mergeTable/MergeTable.vue'
export default {
  name: '<%= pageName%>',
  components: {
    MergeTable,
  },
  data() {
    return {
      tableCols: [
        { label: '序号', type: 'index',width: 60 },
        <%_ if (list.length > 0) { -%>
        <%_ list.forEach(function(field){ -%>
        { prop: '<%= field.prop%>', label: '<%= field.label%>', merge: <%= field.isMerge%>, minWidth: 150 },
        <%_ }); -%>
        <%_ } -%>
      ],
      tableData: [],
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      this.getTableData()
    },
    async getTableData() {
      const queryCondition = QueryConditionBuilder.getInstanceNoPage()
      const { data } = await this.onQueryListAPI(queryCondition)
      this.tableData = data
    },
    // 查询列表API
    async onQueryListAPI(queryCondition) {
      return await <%= tableCode%>Service.query<%= tableCode%>ByCondition(queryCondition)
    },
  },
}
</script>
<style scoped lang="less"></style>
