<template>
  <el-form :model="queryForm" size="small" :inline="true" class="query-form-container">
    <%_ if (queryList.length > 0) { -%><%- include("form.ejs",{queryList}) -%>
    <%_ if ( toolbarBtnList.length > 0) { -%>
    <el-form-item label="操作">
      <div class="btn-container">
        <%_if (queryList.length>0) { -%>
        <el-button type="primary" icon="el-icon-search" @click="onQuery">查询</el-button>
        <el-button icon="el-icon-refresh" @click="onReset">重置</el-button>
        <%_ } -%>
        <%_ toolbarBtnList.forEach(function(btn){ -%>
        <%- include("btn.ejs",{...btn}) %>
        <%_ }); -%>
      </div>
    </el-form-item>
    <%_ } -%>
    <%_ } -%>
  </el-form>
</template>

<script>
<%_ if(initOptionList.length) { -%>
import { QueryConditionBuilder } from '@/utils/queryConditionBuilder'
import { <% initOptionList.forEach(function(option,index){ -%><%=option.serviceName%><%_ if(index !=initOptionList.length-1 ){-%>,<%_}-%> <% }); %>} from '@/services'
<%_ } -%>
export default {
  data () {
    return {
    <%_ initOptionList.forEach(function(option){ -%>
      <%=option.prop%>Option: []
    <%_ }); -%>
    }
  },
  props: {
    queryForm: {},
  },
  async mounted(){
  <%_ if(initOptionList.length) { -%>
    await this.initOption()
  <%_ } -%>
  },
  methods: {
  <%_ if(initOptionList.length) { -%>
    async initOption(){
      <%_ initOptionList.forEach(function(option){ -%>
      await this.<%=option.functionName%>()
      <%_ }); -%>
    },
  <%_ } -%>
  <%_ initOptionList.forEach(function(option){ -%>
    async <%=option.functionName%>(){
      let queryCondition = QueryConditionBuilder.getInstanceNoPage()
      const { data } = await <%=option.serviceName%>.<%= option.interfaceName%>(queryCondition)
      this.<%=option.variableName%> = data
    },
  <%_ }); -%>
  <%_ //是否有查询功能 -%>
  <%_ if (queryList.length > 0) { -%>
    onQuery() {
      this.$emit('onQuery')
    },
    onReset() {
      this.$emit('onReset')
    },
  <%_ } -%>
  <%_ //是否有其他功能 -%>
  <%_ toolbarBtnList.forEach(function(btn){ -%>
    <%= btn.functionName %>() {
      this.$emit('<%= btn.functionName %>')
    },
  <%_ }); -%>
  },
}
</script>

<style lang="less" scoped></style>
